<!--<link rel="stylesheet" type="text/css" href="styles.css" />-->

<div id="RazdaiMe" class="moduleContainer">
    <div class="moduleInnerContainer">
        <div class="searchContainer">
            <div class="searchWrapper">
                <input type="text" class="searchInput" placeholder="Search"/>
                <input id="searchButton" type="button" value="Search" />
                <input id="registerButton" type="button" value="Register second-hand organisation" />
            </div>
        </div>
        
        <div id="results">
            <div id="resultContent"></div>
        </div>
    </div>
</div>
